body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: blue;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
}
h2 {
    color: darkgreen;
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

img {
    border-radius: 50%;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}
